<table width="100%">
  <tr>
    <td>
      <p class="aligncenter m0"><%= t('.regards') %>,</p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="aligncenter m0"><%= t('.playven') %></p>
    </td>
  </tr>
</table>
