---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2021&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_2u3zhIoGjAGgR18YwA5D9cbs
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-03-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19vequI61cakPIniSFuNXwmF",
          "object": "token",
          "card": {
            "id": "card_19vequI61cakPIniESXMQek7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "cYPM9v1PKj9wgT9j",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "115.164.89.101",
          "created": 1489118140,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 10 Mar 2017 03:55:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Playven+User&source=tok_19vequI61cakPIniSFuNXwmF
    headers:
      Authorization:
      - Bearer sk_test_2u3zhIoGjAGgR18YwA5D9cbs
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2016-03-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AGBDojCNHWl1ko",
          "object": "customer",
          "account_balance": 0,
          "created": 1489118141,
          "currency": null,
          "default_source": "card_19vequI61cakPIniESXMQek7",
          "delinquent": false,
          "description": "Playven User",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19vequI61cakPIniESXMQek7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AGBDojCNHWl1ko",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2021,
                "fingerprint": "cYPM9v1PKj9wgT9j",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AGBDojCNHWl1ko/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AGBDojCNHWl1ko/subscriptions"
          }
        }
  recorded_at: Fri, 10 Mar 2017 03:55:42 GMT
recorded_with: VCR 3.0.1
