---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=60.175405&lng=24.914562&username=victor_ivanov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2017-03-13 06:44","lng":24.914562,"countryCode":"FI","gmtOffset":2,"rawOffset":2,"sunset":"2017-03-13
        18:16","timezoneId":"Europe/Helsinki","dstOffset":3,"countryName":"Finland","time":"2017-03-13
        18:28","lat":60.175405}'
  recorded_at: Mon, 13 Mar 2017 16:28:45 GMT
recorded_with: VCR 3.0.1
